body {
  margin: 0;
  background-color: #9B4D1B;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Luckiest Guy', cursive;
  color: #F9B233;
}

.intro-container {
  text-align: center;
  animation: fadein 2s ease-in;
}

/* Jika tetap ingin pakai logo gambar */
.logo-animation {
  width: 200px;
  animation: popscale 2s ease-out;
}

/* Logo teks Tradix */
.tradix-text {
  font-size: 4rem;
  letter-spacing: 2px;
  margin: 0;
  opacity: 0;
  transform: scale(0);
  animation: popscale 1.5s ease-out forwards;
}

/* Subjudul */
.title {
  margin-top: 10px;
  font-size: 1.8rem;
  opacity: 0;
  animation: appear 2s ease-in-out 1s forwards;
}

/* Animasi */
@keyframes popscale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes appear {
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
